[class*="NavBar-logoContainer-"] {
    background-image: url("/theme.park/css/addons/plex/plex-alt-logo/B_innerShadow.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px 5px;
    width: 40px;
}

[class*="NavBar-logoContainer-"] svg {
    display: none;
}

#plex > div:nth-child(2) > div > div._1h4p3k00._1v25wbq8._1v25wbq1w._1v25wbqg._1v25wbq1g._1v25wbq1c._1v25wbq14._1v25wbq2g._1v25wbq84._1v25wbq9c > a.uj4v780._76v8d62._76v8d61._76v8d68.tvbry60._76v8d6g._76v8d63._1v25wbq1g._1v25wbq1c {
    display: none;
}

#plex > div:nth-child(4) > div > div.AudioVideoFullPlayer-bottomBar-h224iE.AudioVideoFullPlayer-bar-ka0DgM.AudioVideoFullPlayer-bottomBarHidden-cXfDeS > div > div > div:nth-child(1) > div {
    top: -9px;
}

.SourceSidebar-openSidebar-I364_Z {
    min-width: 200px;
}

.plex-image-preloader {
    background-image: url("/theme.park/css/addons/plex/plex-alt-logo/logo_full.png");
}
