[class*="NavBar-logoContainer-"] {
    background-image: url("/theme.park/css/addons/plex/plex-alt-logo/B_innerShadow.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px 5px;
    width: 40px;
}

[class*="NavBar-logoContainer-"] svg {
    display: none;
}

#plex > div:nth-child(2) > div > div._1duebfh12._1duebfh9._1duebfh32._1duebfh1m._1duebfh2m._1duebfh2i._1duebfh2a._1duebfh3m._1duebfh8u._1duebfh9y > a._76v8d61._1duebfh16._1duebfh32._1duebfh3m._1duebfhm._76v8d67.tvbry60._1duebfhf6._76v8d62._1duebfh2m._1duebfh2i {
    display: none;
}
